.about > .aboutBody {
  padding: 0 3vw;
}

.about > .aboutBody .recursiveMessage h2 {
  text-align: center;
}

/* codewithsudeep */
.about > .aboutBody > .codewithsudeep {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid grey;
}

.about > .aboutBody > .codewithsudeep > div {
  max-width: 46.5%;
}

.about > .aboutBody > span {
  padding: 70px 3vw;
  display: block;
  position: relative;
}

.about > .aboutBody > span::after {
  content: "";
  background: url("https://images.unsplash.com/photo-1565106430482-8f6e74349ca1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80")
    no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about > .aboutBody > .codewithsudeep h3 {
  margin: 15px 0;
}

.about > .aboutBody > .codewithsudeep p {
  line-height: 1.75;
  text-align: justify;
}

@media (max-width: 576px) {
  .about > .aboutBody > .codewithsudeep {
    flex-direction: column;
    justify-content: center;
  }

  .about > .aboutBody > .codewithsudeep > div {
    max-width: 85vw;
    display: block;
    margin: 0 auto;
  }
}

/* open sources */
.about > .aboutBody > .openSources > h3 {
  margin: 10px 0;
  padding: 0 2vw;
}

.about > .aboutBody > .openSources > .content {
  display: flex;
  line-height: 1.75;
  justify-content: space-around;
  align-items: initial;
}

.about > .aboutBody > .openSources > .content > div {
  text-align: justify;
  max-width: 46.5%;
}

.about > .aboutBody > .openSourceBanner {
  padding: 70px 3vw;
  display: block;
  position: relative;
  margin-top: 20px;
}

.about > .aboutBody > .openSourceBanner::after {
  content: "";
  background: url("https://images.unsplash.com/photo-1556075798-4825dfaaf498?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80")
    no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
