.home > .home-body {
  padding: 0 3vw;
}

/* open projects */

.home > .home-body > .open-projects {
  padding: 0 3vw;
}

.home > .home-body > .open-projects > h2 {
  margin: 20px 0;
}

.home > .home-body > .open-projects > .project-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home > .home-body > .open-projects > a {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  line-height: 2.5;
}

@media (max-width: 576px) {
  .home > .home-body > .open-projects > .project-items {
    justify-content: center;
  }
}

/* blogs and news */

.home > .home-body > .blogs-news {
  margin-top: 40px;
  border-top: 1px solid grey;
  padding: 20px 3vw;
  margin-bottom: 20px;
}

.home > .home-body > .blogs-news > h2 {
  margin-bottom: 20px;
}

.home > .home-body > .blogs-news > .news-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home > .home-body > .blogs-news > .news-items > div {
  max-width: 42.5vw;
  margin-bottom: 15px;
}

.home
  > .home-body
  > .blogs-news
  > .news-items
  > .item-secondary
  > .blog-card-secondary {
  display: flex;
  margin-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 20px -3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 20px -3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 20px -3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.home
  > .home-body
  > .blogs-news
  > .news-items
  > .item-secondary
  > .blog-card-secondary
  > .content {
  padding: 25px;
  line-height: 1.5;
}

.home > .home-body > .blogs-news > a {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  line-height: 2.5;
}

@media (max-width: 576px) {
  .home > .home-body > .blogs-news > .news-items > div {
    max-width: 85vw;
    margin: 0 auto 30px auto;
  }

  .home
    > .home-body
    > .blogs-news
    > .news-items
    > .item-secondary
    > .blog-card-secondary {
    margin-bottom: 30px;
  }

  .home
    > .home-body
    > .blogs-news
    > .news-items
    > .item-secondary
    > .blog-card-secondary
    > .content {
    font-size: 14px;
  }
}

/* trending technologies */
.home > .home-body > .trending-technologies {
  border-top: 1px solid grey;
  padding: 60px 3vw 40px 3vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
  flex-wrap: wrap;
}

.home > .home-body > .trending-technologies > div {
  flex: 2 1 auto;
  max-width: 60%;
}

.home > .home-body > .trending-technologies > div:last-child {
  max-width: 35%;
}

.home > .home-body > .trending-technologies > .technologies-items {
  display: flex;
  flex-wrap: wrap;
}

.home
  > .home-body
  > .trending-technologies
  > .technologies-items
  > div:nth-child(n) {
  margin-right: 20px;
}

.home > .home-body > .trending-technologies > .content > h3 {
  color: #3bc478;
}

.home > .home-body > .trending-technologies > .content > h2 {
  margin: 5px 0;
}

.home > .home-body > .trending-technologies > .content > p {
  line-height: 1.65;
}

.home > .home-body > .trending-technologies > .content > a {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 5px 15px;
  line-height: 3.5;
}

@media (max-width: 996px) {
  .home > .home-body > .trending-technologies {
    flex-direction: column;
  }

  .home > .home-body > .trending-technologies > div {
    max-width: 100%;
    margin: 0 auto 20px 0;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .home > .home-body > .trending-technologies > div {
    max-width: 100%;
    margin: 0 auto 20px 0;
    justify-content: center;
  }

  .home > .home-body > .trending-technologies > div:last-child {
    max-width: 85vw;
  }
}

/* codewithsudeep for */
.home > .home-body > .codewithsudeep-for {
  padding: 30px 10px;
}

.home > .home-body > .codewithsudeep-for > .contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.home > .home-body > .codewithsudeep-for > .contents > div {
  flex: 1 1 0;
  padding: 20px;
  line-height: 1.5;
}

.home > .home-body > .codewithsudeep-for > .contents > div > p {
  padding: 5px 0 15px 0;
}

.home > .home-body > .codewithsudeep-for > .contents > div > a {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 5px 10px;
}

@media (max-width: 576px) {
  .home > .home-body > .codewithsudeep-for h2 {
    margin-bottom: 20px;
  }
  .home > .home-body > .codewithsudeep-for > .contents {
    display: block;
  }

  .home > .home-body > .codewithsudeep-for > .contents > div {
    padding: 0;
  }

  .home > .home-body > .codewithsudeep-for > .contents > div:nth-child(2) {
    margin: 30px 0;
  }
}

/* quote */
.home > .quote {
  background: rgb(240, 240, 240);
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  line-height: 1.5;
  align-items: center;
  flex-wrap: wrap;
}

.home > .quote h2 {
  font-weight: 600;
  font-size: 20px;
}

.home > .quote ol {
  margin: 10px 0;
}

.home > .quote ol li {
  font-size: 18px;
  list-style: none;
}

.home > .quote a {
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  background: #000;
  color: #fff;
}

@media (max-width: 576px) {
  .home > .quote {
    flex: 1;
    padding: 30px 6vw;
  }

  .home > .quote > div:first-child {
    margin-bottom: 20px;
  }
}

.home > .navbarSmall .MuiListItemIcon-root {
  min-width: 40px;
}

.home .MuiDrawer-paper {
  height: 100vh;
}
