@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Work+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4{
  font-weight: 700;
}